html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  text-decoration: none;
}

body {
  background: rgb(89, 6, 194);
  background: linear-gradient(180deg, rgb(89, 6, 194) 14%, rgb(43, 19, 138) 50%, rgb(25, 7, 47) 91%);
  background-size: cover;
  height: 100vh;
}

/* ----------------------------------------*/
header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .header_buttons {
  font-family: "Bungee";
  font-size: 14px;
  padding: 35px 100px 0px 0px;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  padding-right: 25px;
}
header li ul {
  display: none;
  position: absolute;
}
header li ul li {
  padding-top: 15px;
}
header li:hover ul {
  display: block;
}
header a {
  color: white;
}
header a:hover {
  -webkit-animation-name: brandColor;
          animation-name: brandColor;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes brandColor {
  0% {
    color: #731753;
  }
  25% {
    color: #F25CBE;
  }
  50% {
    color: #EF4BF2;
  }
  75% {
    color: #441673;
  }
  100% {
    color: #F25252;
  }
}
@keyframes brandColor {
  0% {
    color: #731753;
  }
  25% {
    color: #F25CBE;
  }
  50% {
    color: #EF4BF2;
  }
  75% {
    color: #441673;
  }
  100% {
    color: #F25252;
  }
}

main {
  min-height: 600px;
  width: 100%;
  display: flex;
}
main .left_main {
  color: white;
}
main .left_main h1 {
  font-family: "ITC Avant Garde Gothic Std Bold", sans-serif;
  font-size: 75px;
  padding: 187px 0px 0px 100px;
  -webkit-animation-name: brandColor;
          animation-name: brandColor;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@keyframes brandColor {
  0% {
    color: #ffffff;
  }
  25% {
    color: #F25CBE;
  }
  50% {
    color: #EF4BF2;
  }
  75% {
    color: #F25252;
  }
  100% {
    color: #EF4BF2;
  }
}
main .left_main h2 {
  font-family: "Circular Std", sans-serif;
  font-size: 30px;
  padding: 0px 10px 0px 100px;
}
main .right_main {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 0px 0px 110px;
  /*
  .model_icon{
      height: 500px;
      width: 620px;
      background-image: url(./images/landingPage/Console.png);
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: -10px;
  }*/
}
main .right_main .model_icon {
  height: 480px;
  width: 400px;
  background-image: url(./images/landingPage/2.png);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -170px;
}

/* ABOUT PAGE */
/* GAMES PAGE */
.gamesContainer {
  justify-content: center;
  overflow: hidden;
  align-items: center;
  display: flex;
  height: 100vh;
}
.gamesContainer .slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.gamesContainer .slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translate(350px);
}
.gamesContainer .slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s;
  border: 3px solid #a865ec;
}
.gamesContainer .slider span img:hover {
  transform: translate(-50px) scale(1.4);
}/*# sourceMappingURL=styles.css.map */