@import "./resetsheet";
@import "./webfont";

$primaryColor : white;
$secondaryColor : #808080;
$tertiaryColor : #111;
$clipPath : polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
$mainBackground : linear-gradient(180deg, rgba(89,6,194,1) 14%, rgba(43,19,138,1) 50%, rgba(25,7,47,1) 91%);
$primaryFont : 'Bungee';

body{
    background: rgb(89,6,194);
    background: $mainBackground;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

/* LANDING PAGE */

header{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .header_brand{
    }
    .header_buttons{
        font-family: $primaryFont;
        font-size: 14px;
        padding: 35px 100px 0px 0px;
        }
        ul{
            display: flex;
            #logoutBtn{
                font-family: $primaryFont;
                width: 80px;
                height: 38px;
                margin-top: -10px;
                cursor: pointer;
            }
        }
        li{
            list-style: none;
            padding-right: 25px;
            ul{
                display: none;
                position: absolute; 
                li{
                    padding-top: 15px;                
                }
            }
            &:hover ul{
                display: block;
            }
        }
        a{
            color: $primaryColor;
            &:hover{
                animation-name: brandColor;
                animation-duration: 9s;
                animation-iteration-count: infinite;
                @keyframes brandColor {
                    0%   {color:#731753}
                    25%  {color:#F25CBE}
                    50%  {color:#EF4BF2}
                    75%  {color:#441673}
                    100% {color:#F25252}
                }
        }
    }
}

main{
    min-height: 600px;
    width: 100%;
    display: flex;
    .left_main{
        color: $primaryColor;
        h1{
            font-family: $primaryFont;
            font-size: 75px;
            padding: 187px 0px 0px 100px;
            animation-name: brandColor;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            @keyframes brandColor {
                0%   {color:#ffffff}
                25%  {color:#F25CBE}
                50%  {color:#EF4BF2}
                75%  {color:#F25252}
                100% {color:#EF4BF2}
            }
        }
        h2{
            font-family: $primaryFont;
            font-size: 28px;
            padding: 0px 10px 0px 100px;
        }
    }

    .right_main{
        display: flex;
        align-items: center;
        margin: auto;
        padding: 0px 0px 0px 110px;
        .model_icon{
            height: 480px;
            width: 400px;
            background-image: url(./images/landingPage/2.png);
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -160px;
        }
    }
}

/* REGISTER & LOGIN PAGE */ 
.login_form{
    height: 500px;
    width: 300px;
    background-color: $primaryColor;
    margin: auto;
    margin-top: 45px;
    border-radius: 10px;
    padding: 20px;
    .login_container{
        height: 250px;
        width: 250px;
        margin: auto;
        text-align: center;
        padding: 40px 0px 0px 0px;
        h1{
            font-family: $primaryFont;
            font-size: 35px;
            letter-spacing: 1px;
            font-weight: 400;
            padding-bottom: 40px;
            text-transform: uppercase;
        }
        input{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                outline: none;
                resize: none;
                border: none;
                border-bottom: 1px solid #F5E8E4;    
                margin-bottom: 10px;
                font-family: $primaryFont;
        }
        input[type="text"]:focus, textarea:focus{
            border-bottom: 1px solid $mainBackground;
        }
        input[type="submit"]{
            margin-top: 10px;
            width: 90%;
            max-width: 200px;
            background: $mainBackground;
            color: $primaryColor;
            font-size: 12px;
            cursor: pointer;
            border-radius: 30px;
        }
        input[type="submit"]:hover{
            cursor: pointer;
            animation-name: brandColor;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            @keyframes brandColor {
                0%   {color:#ffffff}
                25%  {color:#F25CBE}
                50%  {color:#EF4BF2}
                75%  {color:#F25252}
                100% {color:#EF4BF2}
            }
        }
    }
    .login_container_text{
        font-family: $primaryFont;
        color: $tertiaryColor;
        padding: 100px 0px 0px 30px;
        font-size: 12px;
    }
    .login_container_text2{
        font-family: $primaryFont;
        color: $tertiaryColor;
        padding: 40px 0px 0px 40px;
        font-size: 12px;
    }
}    

/* DASHBOARD PAGE */
.dashboard_main{
    width: 80%;
    margin: auto;
    margin-top: 85px;
    height: 500px;
    border-radius: 10px;
    background-color: $primaryColor;
    .dashboard_content{
        padding: 40px 35px 20px;
        h1{
            font-family: $primaryFont;
            font-size: 25px;
            color: $secondaryColor;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        h2{
            font-family: $primaryFont;
            font-size: 18px;
            color: $secondaryColor;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        .dashboard_games{
            width: 30%; //* width:90% *//
            height: 320px;
            border: 2px solid $tertiaryColor;
            border-radius: 10px;
            margin: auto;
            display: flex;
            justify-content: center;
            .game1form, .game2, .game3{
                width: 280px;
                height: 300px;
                background: $mainBackground;
                margin: 10px;
                border-radius: 10px;
                text-align: center;
                h3{
                    color: $primaryColor;
                    font-family: $primaryFont;
                    font-size: 15px;
                    padding-top: 130px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

/* GAMES FORM PAGE */
.game1_contentform{
    height: 500px;
    width: 300px;
    background-color: $primaryColor;
    margin: auto;
    margin-top: 45px;
    border-radius: 10px;
    padding: 20px;
}